.faq-section{
    margin-top: 90px;
    margin-left: 70px;
 
}
.faq-section h1{
    font-family: Roboto,sans-serif;
    font-weight: 700;    
    font-size: 40px;
    color: #727272;
}
.faq-section p{
    text-align: start;
    width: 90%;
}
.faq-section h5{
    font-weight: 700;
    margin-bottom: 10px;
}