*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins";       
}
.pancard-img{
    width: 85%;
    height: 23rem;
    border-radius: 40px;
    padding: 20px;
    margin:40px 0 0 50px;  
    transition: 0.5s ease;
}
.pancard-img:hover{
    width: 88%;
    height: 24rem;
}
.pancard-section{
background:#F3F4F6;
padding: 103px 0;

}
.border-change-pancard{
    border-radius: 30px;
}
.pancard-heading{
    font-weight: bolder;
    font-size: 35px;
    margin-top: 60px;
    margin-left: 30px;

}
.text-section-pancard{
    margin-top: 20px;
line-height: 1.9;
    color: black;
}